* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Times New Roman", Times, serif;
}

.image img {
  width: 50px;
}

.navbar-brand,
nav {
  font-size: 1.8rem;
}

.section1 {
  height: 92.8vh;
  background-image: linear-gradient(
      70deg,
      rgba(0, 0, 0, 1) 00%,
      rgba(152, 152, 152, 0) 100%
    ),
    url(img/3/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  overflow: hidden;
}

.card img:hover,
#exhibition img:hover {
  transform: scaleX(1.05);
}

img {
  transition: all 0.3s;
}

.right img {
  width: 40vw;
}

#contact input {
  outline: none;
  background-color: rgb(255, 255, 255, 0.5);
}

textarea {
  outline: none;
  resize: none;
}

#contact {
  height: 60vh;
  background-image: linear-gradient(
      70deg,
      rgba(0, 0, 0, 1) 00%,
      rgba(152, 152, 152, 0) 100%
    ),
    url(img/3/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.up-btn {
  color: white;
  position: fixed;
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 2rem;
  right: 2rem;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}
.up-btn:hover {
  color: black;
}

@media only screen and (max-width: 991px) {
  .right img {
    width: 100%;
  }

  #contact {
    height: 80vh;
  }
}
